* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    color: #000;
    font-weight: 400;
  }
  
  .container {
    max-width: 140rem;
    margin: 0 auto;
    padding: 0 4rem;
  }
  
  /*** LAYOUT ***/
  .text-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 11.2rem;
  }
  
  .title h1 {
    font-family: "PT Serif", serif;
    font-size: 4.4rem;
    font-weight: 700;
  }
  
  .description h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
  }
  .description p {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    width: 36ch;
  }
  .team {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: start;
    justify-content: space-between;
    row-gap: 4.8rem;
    padding: 9.6rem 0;
  }
  
  .user {
    display: inline-grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
  }
  .user--down {
    margin-top: 8rem;
  }
  
  .user img {
    grid-column: 1/2;
    grid-row: 1/2;
    max-width: 30rem;
    margin-bottom: 1.6rem;
    margin-right: 1.2rem;
  }
  
  .user-name {
    grid-column: 1/3;
    grid-row: 2/3;
    font-size: 2rem;
    font-weight: 600;
  }
  
  .user-job {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 1.6rem;
    font-family: "PT Serif", serif;
    font-weight: 400;
    writing-mode: vertical-lr;
  }
  
  @media screen and (max-width: 1400px) {
    .container {
      max-width: 120rem;
      padding: 3rem;
    }
    .text-box {
      padding-top: 9.6rem;
    }
  
    .team {
      padding: 8rem 0;
      row-gap: 3.2rem;
    }
  
    .title h1 {
      font-size: 3.6rem;
    }
  
    .description h2,
  .description p {
      font-size: 1.8rem;
    }
  
    .user--down {
      margin-top: 6.4rem;
    }
  
    .user img {
      max-width: 26rem;
    }
  
    .user-name {
      font-size: 1.8rem;
    }
  
    .user-job {
      font-size: 1.4rem;
    }
  }
  @media screen and (max-width: 950px) {
    .container {
      max-width: 80rem;
      padding: 2.4rem;
    }
  
    /*** LAYOUT ***/
    .text-box {
      padding-top: 8rem;
    }
  
    .title h1 {
      font-size: 3rem;
    }
  
    .description h2,
  .description p {
      font-size: 1.6rem;
    }
  
    .team {
      grid-template-columns: auto auto;
      justify-content: space-around;
    }
  
    .user img {
      max-width: 20rem;
    }
  
    .user:nth-child(even) {
      margin-top: 4.8rem;
    }
  
    .user--down {
      margin-top: 0;
    }
  
    .user-name {
      font-size: 1.6rem;
    }
  
    .user-job {
      font-size: 1.2rem;
    }
  }
  @media screen and (max-width: 680px) {
    .text-box {
      grid-template-columns: 1fr;
    }
  }
  @media screen and (max-width: 500px) {
    .container {
      max-width: 100%;
      padding: 1.6rem;
    }
    .text-box {
      padding-top: 6.4rem;
    }
  
    .title h1 {
      font-size: 2.4rem;
    }
  
    .description h2,
  .description p {
      font-size: 1.4rem;
    }
  
    .team {
      grid-template-columns: auto;
      justify-content: center;
    }
  
    .user-name {
      font-size: 1.4rem;
    }
  
    .user-job {
      font-size: 1rem;
    }
  
    .user:nth-child(even) {
      margin-top: 0;
    }
  }